body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-color: #000000;
    background-size: 80vh;
  
  }
  
  a { 
    text-decoration:none;
    font-family: sans-serif;
    color:white;
    margin: 0px 10px;
  }
  
  a:hover { 
    color:green;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 0px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .imersaotxt {
    color:white;
    font-size: 30px;
  }
  
  .devtxt {
    border: 0px solid white;
    padding: 2px 10px 2px 10px;
    background: green;
    color: black;
    margin-left: 10px;
  }
  
  .bold { text-decoration: strong;}
  
  .box-apresentacao { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .box-apresentacao p { 
    color:white;
  }
  
  .box-links {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
  }