* {
    text-align: center;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background: black;
    width:100%;
    overflow-x: hidden;
    
  }
  
  a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    margin: 0px 10px;
  }
  
  a:hover {
    color: green;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    width:100%;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
 
  
  table {
    
    border: 2px solid green;
    padding: 10px;
    width:70%;
    margin: 20px auto;
    
  }
  
  h1 {
    color: white;
  }
  
  th,
  tr,
  td {
    border: 0.5px solid green; 
    color: white;
    padding: 8px;
  }
  
  .btn-edit {
    background:green;
    color:white;
    width: 80px;
    height: 30px;
    border:none;
    border-radius: 20px;
  }
  
  .btn-edit:hover {
    background:none;
    color:white;
    width: 80px;
    height: 30px;
    border:2px solid green;
    transition: all 0.5s;
  }
  
  .logo-imersao {
    font-size: 22px;
    margin-top: 90px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .dev-edit {
    padding: 5px 10px 5px 10px;
    background-color: rgb(0, 107, 9);
    color: white;
  }
  
  .div-links-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 0px solid green;
    padding-bottom: 20px;
  }
  
  .div-links-flex p {
    color: white;
  }

  .txttop {
      color: white;
      line-height: 2;
  }
  